{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
<center>
    <div class="col-md-6 col-lg-8"" style="background-color:#343a40!important;
box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
 <h1 class="display-4 font-weight-normal">Bankole David OluwaFeranmi</h1>
 <img src="./pics/adeola-removebg-preview.png" class="mb-4" alt="My image">

<p>An Undergraduate student at LandMark Unniersity Omuaran Kwara State Who is studying Micro Biology and also have full intersest in tech with the help of AltSchoolAfrica Built this
    project and he is hoping to build many more project.
</p>  
</div>
</center>
{% endblock %}